.alert-container {
    position: fixed;
    left: 20px;
    bottom: 20px;
}

.alert {
    /* opacity: 0; */
    margin: 5px 0;
    min-height: 35px;
    min-width: 300px;
    color: var(--white);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 13px;
    /* animation: alertEnter 0.5s, alertLeave 0.5s 2.5s; */
    /* animation-fill-mode: forwards; */
}

.alert-container .alert .close-btn {
    margin: 0 5px;
}

.alert-container .alert p {
    margin: 0 5px;
}

.alert-container .success {
    background-color: var(--success);
    
}

.alert-container .error {
    background-color: var(--danger);
}

@keyframes alertEnter {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes alertLeave {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}